<div class="container">
	<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
	    <thead>
	        <tr>
	            <th data-column-id="sl_id" data-type="numeric">ID</th>
	            <th data-column-id="sl_cliente">Cliente</th>
	            <th data-column-id="sl_grupo" data-order="desc">Grupo</th>
	            <th data-column-id="sl_cantidad">Cantidad RD$</th>
	            <th data-column-id="sl_fecha_creacion">Fecha creacion</th>
	            <th data-column-id="sl_estado">Estado</th>
	            <th data-column-id="sl_estado_prestamo">Estado prestamo</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>07/07/1978</td>
	            <td>Aprobado</td>
	            <td>Finalizado con mora</td>
	        </tr>
	    </tbody>
	</table>
</div>