<div class="container">
	<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
	    <thead>
	        <tr>
	            <th data-column-id="cl_id" data-type="numeric">ID</th>
	            <th data-column-id="cl_cliente">Cliente</th>
	            <th data-column-id="cl_grupo" data-order="desc">Grupo</th>
	            <th data-column-id="cl_cedula">Cedula</th>
	            <th data-column-id="cl_fecha_nacimiento">Fecha de nacimiento</th>
	            <th data-column-id="cl_celular">Telefono celular</th>
	            <th data-column-id="cl_correo_electronico">Correo electronico</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>10238</td>
	            <td>Eduardo Morales</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10348</td>
	            <td>Gertrudis Lugo</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Francisca Ernandez</td>
	            <td>Claro</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Eduardo Morales</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10348</td>
	            <td>Gertrudis Lugo</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Francisca Ernandez</td>
	            <td>Claro</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Eduardo Morales</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10348</td>
	            <td>Gertrudis Lugo</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Francisca Ernandez</td>
	            <td>Claro</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Eduardo Morales</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10348</td>
	            <td>Gertrudis Lugo</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Francisca Ernandez</td>
	            <td>Claro</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Eduardo Morales</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10348</td>
	            <td>Gertrudis Lugo</td>
	            <td>ReadyCredit</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Francisca Ernandez</td>
	            <td>Claro</td>
	            <td>001-0000000-1</td>
	            <td>07/07/1978</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	        </tr>
	    </tbody>
	</table>
</div>