<div class="container">
	<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
	    <thead>
	        <tr>
	            <th data-column-id="gr_id" data-type="numeric">ID</th>
	            <th data-column-id="gr_nombre">Nombre</th>
	            <th data-column-id="gr_telefono" data-order="desc">Telefono</th>
	            <th data-column-id="gr_correo_electronico">Correo electronico</th>
	            <th data-column-id="gr_referente">Referente</th>
	            <th data-column-id="gr_estado">Estado</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>10238</td>
	            <td>ReadyCredit</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Eduardo Morales</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Juniper</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Fabio Schettino</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Claro</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Francisca Ernandez</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Telecom</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Felipe Melo</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>ReadyCredit</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Eduardo Morales</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Juniper</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Fabio Schettino</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Claro</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Francisca Ernandez</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Telecom</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Felipe Melo</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>ReadyCredit</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Eduardo Morales</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Juniper</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Fabio Schettino</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Claro</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Francisca Ernandez</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Telecom</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Felipe Melo</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>ReadyCredit</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Eduardo Morales</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Juniper</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Fabio Schettino</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Claro</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Francisca Ernandez</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Telecom</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Felipe Melo</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>ReadyCredit</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Eduardo Morales</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>10768</td>
	            <td>Juniper</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Fabio Schettino</td>
	            <td>Activo</td>
	        </tr>
	        <tr>
	            <td>13688</td>
	            <td>Claro</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Francisca Ernandez</td>
	            <td>Inactivo</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Telecom</td>
	            <td>123456789000</td>
	            <td>fabio.schettino@fabio.com</td>
	            <td>Felipe Melo</td>
	            <td>Inactivo</td>
	        </tr>
	    </tbody>
	</table>
</div>