<br>
<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
    <thead>
        <tr>
            <th data-column-id="sl_id" data-type="numeric">ID</th>
            <th data-column-id="sl_cliente">Cliente</th>
            <th data-column-id="sl_grupo">Grupo</th>
            <th data-column-id="sl_cantidad">Cantidad RD$</th>
            <th data-column-id="sl_fecha_creacion" data-order="desc">Fecha creacion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
    </tbody>
</table>