<div class="container">
	<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
	    <thead>
	        <tr>
	            <th data-column-id="pr_id" data-type="numeric">ID</th>
	            <th data-column-id="pr_cliente">Cliente</th>
	            <th data-column-id="pr_grupo" data-order="desc">Grupo</th>
	            <th data-column-id="pr_cantidad">Cantidad RD$</th>
	            <th data-column-id="pr_cuotas">Cuotas</th>
	            <th data-column-id="pr_fecha_creacion">Fecha creacion</th>
	            <th data-column-id="pr_fecha_vencimiento">Fecha vencimiento</th>
	            <th data-column-id="pr_estado">Estado</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Fabio Schettino</td>
	            <td>Juniper</td>
	            <td>1,000,00</td>
	            <td>1/1</td>
	            <td>07/07/1978</td>
	            <td>22/07/1978</td>
	            <td>Finalizado</td>
	        </tr>
	    </tbody>
	</table>
</div>