<div class="container">
	<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
	    <thead>
	        <tr>
	            <th data-column-id="pd_id" data-type="numeric">ID</th>
	            <th data-column-id="pd_nombre">Nombre producto</th>
	            <th data-column-id="pd_importe_minimo" data-order="desc">Importe minimo RD$</th>
	            <th data-column-id="pd_importe_maximo">Importe maximo RD$</th>
	            <th data-column-id="pd_interes_mensual">Interes mensual %</th>
	            <th data-column-id="pd_max_cuotas">Max cuotas</th>
	            <th data-column-id="pd_gastos_activacion">Gastos activacion RD$</th>
	            <th data-column-id="pd_pago">Forma de pago</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>10238</td>
	            <td>Avance de sueldo Standard</td>
	            <td>1000</td>
	            <td>3000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Avance de sueldo Premium</td>
	            <td>3500</td>
	            <td>5000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Avance de sueldo Standard</td>
	            <td>1000</td>
	            <td>3000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Avance de sueldo Premium</td>
	            <td>3500</td>
	            <td>5000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr><tr>
	            <td>10238</td>
	            <td>Avance de sueldo Standard</td>
	            <td>1000</td>
	            <td>3000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Avance de sueldo Premium</td>
	            <td>3500</td>
	            <td>5000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr><tr>
	            <td>10238</td>
	            <td>Avance de sueldo Standard</td>
	            <td>1000</td>
	            <td>3000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr>
	        <tr>
	            <td>10238</td>
	            <td>Avance de sueldo Premium</td>
	            <td>3500</td>
	            <td>5000</td>
	            <td>30</td>
	            <td>1</td>
	            <td>500</td>
	            <td>Quincenal</td>
	        </tr>
	    </tbody>
	</table>
</div>