<br>
<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
    <thead>
        <tr>
            <th data-column-id="pr_id" data-type="numeric">ID</th>
            <th data-column-id="pr_cliente">Cliente</th>
            <th data-column-id="pr_grupo">Grupo</th>
            <th data-column-id="pr_cuota">Cuota</th>
            <th data-column-id="pr_cantidad">Cantidad RD$</th>
            <th data-column-id="pr_finaliza" data-order="desc">Finaliza</th>
            <th data-column-id="pr_total_prestamo">Total prestamo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
            <td>5750.00</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>4550.00</td>
            <td>18/03/2016</td>
            <td>4550.00</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>1/1</td>
            <td>7550.00</td>
            <td>14/05/2016</td>
            <td>7550.00</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>1/1</td>
            <td>3050.00</td>
            <td>20/08/2016</td>
            <td>3050.00</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
            <td>5750.00</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>4550.00</td>
            <td>18/03/2016</td>
            <td>4550.00</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>1/1</td>
            <td>7550.00</td>
            <td>14/05/2016</td>
            <td>7550.00</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>1/1</td>
            <td>3050.00</td>
            <td>20/08/2016</td>
            <td>3050.00</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
            <td>5750.00</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>4550.00</td>
            <td>18/03/2016</td>
            <td>4550.00</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>1/1</td>
            <td>7550.00</td>
            <td>14/05/2016</td>
            <td>7550.00</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>1/1</td>
            <td>3050.00</td>
            <td>20/08/2016</td>
            <td>3050.00</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
            <td>5750.00</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>4550.00</td>
            <td>18/03/2016</td>
            <td>4550.00</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>1/1</td>
            <td>7550.00</td>
            <td>14/05/2016</td>
            <td>7550.00</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>1/1</td>
            <td>3050.00</td>
            <td>20/08/2016</td>
            <td>3050.00</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
            <td>5750.00</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Gertrudis Lugo</td>
            <td>ReadyCredit</td>
            <td>1/1</td>
            <td>4550.00</td>
            <td>18/03/2016</td>
            <td>4550.00</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Fabio Schettino</td>
            <td>Juniper</td>
            <td>1/1</td>
            <td>7550.00</td>
            <td>14/05/2016</td>
            <td>7550.00</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>1/1</td>
            <td>3050.00</td>
            <td>20/08/2016</td>
            <td>3050.00</td>
        </tr>
    </tbody>
</table>