<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse"> <!-- Si añadimos la clase navbar-static-top y el header no se encuentra en un div container ocupará todo el ancho de la pagina sin quedarse anclado a la parte superior de la pagina -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Pluto</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Clientes <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/cargar_buscador_clientes">Buscar clientes</a></li>
                            <li><a href="/crear_cliente">Crear cliente</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Solicitudes <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/cargar_buscador_solicitudes">Buscar solicitudes</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Prestamos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/cargar_buscador_prestamos">Buscar prestamos</a></li>
                            <li><a href="/administrar_productos">Administrar productos</a></li>
                            <li><a href="/administrar_mora">Administrar mora</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Grupos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/cargar_buscador_grupos">Buscar grupos</a></li>
                            <li><a href="/crear_grupo">Crear grupo</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Sistema <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/informacion">Informacion de Pluto</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>