<% include partials/head.html %>
    
<!-- Inicio contenido pagina -->

<div class="container">

	<!-- buscador -->
	
	<form id="formulario_busqueda_grupos" action="/buscar_grupos" method="get">	
	    <div class="row">
        	<div class="col-md-12">
                <h1><%= locals.nombre_pagina %></h1>
                <hr>
        	</div>
	    </div>
	    <div class="row">
            <div class="col-md-12">
                <form action="">
                	<div class="row">
                	    <div class="col-md-5">
                	        <div class="form-group">
                	        	<label for="gr_nombre">Grupo</label> 
                	        	<select id="gr_nombre" name="gr_nombre" class="form-control">
    	        	        	    <% if (locals.valor_gr_grupo.seleccionado == "0") { %>
    	        	    				<option value="0" selected>Todos</option>
    	        	    			<% } else { %>
    	        	    				<option value="0">Todos</option>
    	        	    			<% } %>
    	        					<% for (var i in locals.lista_grupos) { %>
    	        						<% if (locals.valor_gr_grupo.seleccionado == locals.lista_grupos[i].id_grupo) { %>
    	        	    					<option value=<%= locals.lista_grupos[i].id_grupo %> selected><%- locals.lista_grupos[i].nombre_grupo %></option>
    	        	    				<% } else { %>
    	        	    					<option value=<%= locals.lista_grupos[i].id_grupo %>><%- locals.lista_grupos[i].nombre_grupo %></option>
    	        	    				<% } %>
    								<% } %>	
    	        	        	</select>
                	        </div>
                	    </div>
                	    <div class="col-md-3">
                	        <div class="form-group">
                	        	<label for="gr_estado">Estado grupo</label>
                	        	<select id="gr_estado" name="gr_estado" class="form-control">
                	        	    <option value="0">Todos</option>
                	        	    <option value="1">Activo</option>
                	        	    <option value="2">Inactivo</option>
                	        	</select>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="gr_fecha_creacion_desde">Creado (desde)</label>
                	        	<div class="input-group date" id="selector_gr_fecha_creacion_desde">
        	        	        	<div class="input-group-addon add-on">
                        				<span class="glyphicon glyphicon-calendar"></span>
                        			</div> 
                	        	    <input id="gr_fecha_creacion_desde" name="gr_fecha_creacion_desde" type="text" class="form-control" placeholder="dd/mm/aaaa">
                	        	</div>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="gr_fecha_creacion_hasta">Creado (hasta)</label>
                	        	<div class="input-group date" id="selector_gr_fecha_creacion_hasta">
        	        	        	<div class="input-group-addon add-on">
                        				<span class="glyphicon glyphicon-calendar"></span>
                        			</div> 
                	        	    <input id="gr_fecha_creacion_hasta" name="gr_fecha_creacion_hasta" type="text" class="form-control" placeholder="dd/mm/aaaa">
                	        	</div>
                	        </div>
                	    </div>
                	</div>
                	<div class="row">
                	    <div class="col-md-4">
                	        <div class="form-group">
                	        	<label for="gr_nombre_referente">Nombre(s) referente</label> 
                	        	<input id="gr_nombre_referente" name="gr_nombre_referente" type="text" class="form-control">
                	        </div>
                	    </div>
                	    <div class="col-md-4">
                	        <div class="form-group">
                	        	<label for="gr_apellido_referente">Apellido(s) referente</label> 
                	        	<input id="gr_apellido_referente" name="gr_apellido_referente" type="text" class="form-control">
                	        </div>
                	    </div>
                	    <div class="col-md-4">
                	        <div class="form-group">
                	        	<label for="gr_correo_electronico">Correo electronico</label>
                	        	<input id="gr_correo_electronico" name="gr_correo_electronico" type="email" class="form-control">
                	        </div>
                	    </div>
                	</div>
                	<div class="row">
                	    <div class="col-md-12 text-right">
                	        <div class="form-group">
                	        	<button class="btn btn-primary">Buscar grupos</button>
                	        </div>
                	    </div>
                	</div>
                	<hr>
            	</form>
            </div>    
	    </div>
    </form>
   
	<!-- Listado resultados -->
   
    <div class="row">
       <div class="col-md-12">
            <h2>Resultados busqueda</h2>
       </div>
	</div>
	
	<!-- Resultados busqueda clientes -->
	
	<table id="lista_grupos" class="table table-condensed table-hover table-striped">
    	<thead>
    	    <tr>
	        	<th data-column-id="gr_id" data-order="desc" data-visible="false" data-visible-in-selection="false" data-type="numeric" data-identifier="true">Id</th>
	        	<th data-column-id="gr_nombre">Grupo</th>
                <th data-column-id="gr_telefono">Telefono</th>
    	        <th data-column-id="gr_correo_electronico">Correo electronico</th>
    	        <th data-column-id="gr_referente" data-type="date">Referente</th>
    	        <th data-column-id="gr_estado">Estado</th>
    	        <th data-column-id="gr_comandos" data-sortable="false" data-align="center" data-header-align="center" data-formatter="cl_comandos">Comandos</th>
    	    </tr>
    	</thead>
    	<tbody>
    		<% for (q in locals.lista_grupos) { %>
    		<tr>
        		<td><%= locals.lista_grupos[q].gr_id %></td>
        		<td><%= locals.lista_grupos[q].gr_nombre %></td>
        		<td><%= locals.lista_grupos[q].gr_telefono %></td>
            	<td><%= locals.lista_grupos[q].gr_correo_electronico %></td>
            	<td><%= locals.lista_grupos[q].gr_referente %></td>
            	<td><%= locals.lista_grupos[q].gr_estado %></td>
			</tr>
    		<% } %>
		</tbody>
	</table>
   
</div>

<!-- Fin contenido pagina -->
    
<% include partials/footer.html %>