<% include partials/head.html %>
    
<!-- Inicio contenido pagina -->

<div class="container">
    <div class="row">
    	<div class="col-md-6">
    		<h1><%= locals.nombre_pagina %></h1>
    	</div>
    	<div class="col-md-6 text-right">
    	<br>
    		<a href="" class="btn btn-success">Importar datos</a>
    	</div>
    </div>
    <hr>
    
    <!-- Formulario cliente -->

    <% include partials/formulario_cliente.html %>

    <!-- Codigo ventanas modales -->
    
    <% include partials/modal_1.html %>
    <% include partials/modal_2.html %>
    
</div>

<!-- Fin contenido pagina -->
    
<% include partials/footer.html %>