<% include partials/head.html %>
    
<!-- Inicio contenido pagina -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= locals.nombre_pagina %></h1>
            <hr>
        </div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<p>Pluto - Sistema para la gestion de prestamos<br>Version 1.0.0<br>Copyright 2016 Fabio Schettino - Todos los derechos reservados</p>
		</div>
	</div>
</div>

<!-- Fin contenido pagina -->
    
<% include partials/footer.html %>