<% include partials/head.html %>
    
<!-- Inicio contenido pagina -->

<div class="container">
    <div class="row">
    	<div class="col-md-12">
    		<h1><%= locals.nombre_pagina %></h1>
    	</div>
    </div>
    <hr>
    
    <!-- Formulario mora -->

    <% include partials/formulario_mora.html %>

    <!-- Codigo ventanas modales -->
    
    <% include partials/modal_1.html %>
    <% include partials/modal_2.html %>
    
</div>

<!-- Fin contenido pagina -->
    
<% include partials/footer.html %>