<br>
<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
    <thead>
        <tr>
            <th data-column-id="cm_id" data-type="numeric">ID</th>
            <th data-column-id="gr_nombre">Grupo</th>
            <th data-column-id="cm_total_prestado">Total prestado RD$</th>
            <th data-column-id="cm_cantidad_comision">Comision RD$</th>
            <th data-column-id="cm_fecha_pago" data-order="desc">Fecha pago</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10238</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>575.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Vodafone</td>
            <td>5350.00</td>
            <td>535.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Junius</td>
            <td>7050.00</td>
            <td>705.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Claro</td>
            <td>3450.00</td>
            <td>345.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>575.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Vodafone</td>
            <td>5350.00</td>
            <td>535.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Junius</td>
            <td>7050.00</td>
            <td>705.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Claro</td>
            <td>3450.00</td>
            <td>345.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>575.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Vodafone</td>
            <td>5350.00</td>
            <td>535.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Junius</td>
            <td>7050.00</td>
            <td>705.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Claro</td>
            <td>3450.00</td>
            <td>345.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>575.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Vodafone</td>
            <td>5350.00</td>
            <td>535.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Junius</td>
            <td>7050.00</td>
            <td>705.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Claro</td>
            <td>3450.00</td>
            <td>345.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>575.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Vodafone</td>
            <td>5350.00</td>
            <td>535.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Junius</td>
            <td>7050.00</td>
            <td>705.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Claro</td>
            <td>3450.00</td>
            <td>345.00</td>
            <td>28/03/2016</td>
        </tr>
    </tbody>
</table>