<br>
<table id="grid-data" class="table table-condensed table-hover table-striped" data-toggle="bootgrid">
    <thead>
        <tr>
            <th data-column-id="pr_id" data-type="numeric">ID</th>
            <th data-column-id="pr_cliente">Cliente</th>
            <th data-column-id="pr_grupo">Grupo</th>
            <th data-column-id="pr_cantidad">Cantidad RD$</th>
            <th data-column-id="pr_fecha_creacion" data-order="desc">Fecha emision</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>30/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Antonio Viera</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Lucas Elmas</td>
            <td>Junius</td>
            <td>5750.00</td>
            <td>28/09/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>25/12/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>17/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Antonio Viera</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Lucas Elmas</td>
            <td>Junius</td>
            <td>5750.00</td>
            <td>10/04/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>28/10/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>20/06/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Antonio Viera</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>12/01/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Lucas Elmas</td>
            <td>Junius</td>
            <td>5750.00</td>
            <td>28/02/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>08/04/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>06/03/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Antonio Viera</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>01/03/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Lucas Elmas</td>
            <td>Junius</td>
            <td>5750.00</td>
            <td>28/12/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>11/03/2016</td>
        </tr>
        <tr>
            <td>10238</td>
            <td>Eduardo Morales</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/11/2016</td>
        </tr>
        <tr>
            <td>10348</td>
            <td>Antonio Viera</td>
            <td>ReadyCredit</td>
            <td>5750.00</td>
            <td>28/04/2016</td>
        </tr>
        <tr>
            <td>10768</td>
            <td>Lucas Elmas</td>
            <td>Junius</td>
            <td>5750.00</td>
            <td>05/03/2016</td>
        </tr>
        <tr>
            <td>13688</td>
            <td>Francisca Ernandez</td>
            <td>Claro</td>
            <td>5750.00</td>
            <td>15/03/2016</td>
        </tr>
    </tbody>
</table>