<!-- Codigo ventana 1 -->
    
<div class="modal fade" id="ventana1">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Header ventana -->
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%= locals.titulo_ventana_modal_1 %></h4>
            </div>
            
            <!-- Body ventana -->
            <div class="modal-body">
                <p class="text-center"><%- locals.texto_ventana_modal_1 %></p>
            </div>
            
            <!-- Footer ventana -->
            <div class="modal-footer">
                <a href="" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                <%- locals.comando_btn_confirmacion_1 %>
            </div> 
        </div>
    </div>
</div>