<% include ../../_commons/views/head.html %>
    
<!-- Inicio contenido pagina -->

<div class="container">

	<!-- buscador -->

    <form id="formulario_busqueda_solicitudes" action="/buscar_solicitudes" method="get">
    	<div class="row">
        	<div class="col-md-12">
                <h1><%= locals.nombre_pagina %></h1>
                <hr>
        	</div>
    	</div>
    	<div class="row">
            <div class="col-md-12">
                <form action="">
                	<div class="row">
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_fecha_recepcion_desde">Recibida (desde)</label>
                	        	<div class="input-group date" id="selector_sl_fecha_recepcion_desde">
        	        	        	<div class="input-group-addon add-on">
                        				<span class="glyphicon glyphicon-calendar"></span>
                        			</div>  
                	        	    <input id="sl_fecha_recepcion_desde" name="sl_fecha_recepcion_desde" type="text" class="form-control" placeholder="dd/mm/aaaa">
                	            </div>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_fecha_recepcion_hasta">Recibida (hasta)</label>
                	        	<div class="input-group date" id="selector_sl_fecha_recepcion_hasta">
        	        	        	<div class="input-group-addon add-on">
                        				<span class="glyphicon glyphicon-calendar"></span>
                        			</div>  
                	        	    <input id="sl_fecha_recepcion_hasta" name="sl_fecha_recepcion_hasta" type="text" class="form-control" placeholder="dd/mm/aaaa">
                	            </div>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_fecha_creacion_desde">Creada (desde)</label>
                	        	<div class="input-group date" id="selector_sl_fecha_creacion_desde">
        	        	        	<div class="input-group-addon add-on">
                        				<span class="glyphicon glyphicon-calendar"></span>
                        			</div> 
                	        	    <input id="sl_fecha_creacion_desde" name="sl_fecha_creacion_desde" type="text" class="form-control" placeholder="dd/mm/aaaa">
                	            </div>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_fecha_creacion_hasta">Creada (hasta)</label>
                	        	<div class="input-group date" id="selector_sl_fecha_creacion_hasta">
        	        	        	<div class="input-group-addon add-on">
                        				<span class="glyphicon glyphicon-calendar"></span>
                        			</div> 
                	        	    <input id="sl_fecha_creacion_hasta" name="sl_fecha_creacion_hasta" type="text" class="form-control" placeholder="dd/mm/aaaa">
                	        	</div>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_cantidad_solicitada_desde">Cantidad RD$ (desde)</label>
                	        	<select id="sl_cantidad_solicitada_desde" name="sl_cantidad_solicitada_desde" class="form-control">
    	        	        	    <% if (locals.valor_sl_cantidad_desde.seleccionado == "0") { %>
    	        	    				<option value="0" selected>Todos</option>
    	        	    			<% } else { %>
    	        	    				<option value="0">Todos</option>
    	        	    			<% } %>
    	        					<% for (var i in locals.lista_cantidades) { %>
    	        						<% if (locals.valor_sl_cantidad_desde.seleccionado == locals.lista_cantidades[i]) { %>
    	        	    					<option value=<%= locals.lista_cantidades[i] %> selected><%- locals.lista_cantidades[i] %></option>
    	        	    				<% } else { %>
    	        	    					<option value=<%= locals.lista_cantidades[i] %>><%- locals.lista_cantidades[i] %></option>
    	        	    				<% } %>
    								<% } %>	
    	        	        	</select>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_cantidad_solicitada_hasta">Cantidad RD$ (hasta)</label>
                	        	<select id="sl_cantidad_solicitada_hasta" name="sl_cantidad_solicitada_hasta" class="form-control">
    	        	        	    <% if (locals.valor_sl_cantidad_hasta.seleccionado == "0") { %>
    	        	    				<option value="0" selected>Todos</option>
    	        	    			<% } else { %>
    	        	    				<option value="0">Todos</option>
    	        	    			<% } %>
    	        					<% for (var i in locals.lista_cantidades) { %>
    	        						<% if (locals.valor_sl_cantidad_hasta.seleccionado == locals.lista_cantidades[i]) { %>
    	        	    					<option value=<%= locals.lista_cantidades[i] %> selected><%- locals.lista_cantidades[i] %></option>
    	        	    				<% } else { %>
    	        	    					<option value=<%= locals.lista_cantidades[i] %>><%- locals.lista_cantidades[i] %></option>
    	        	    				<% } %>
    								<% } %>	
    	        	        	</select>
                	        </div>
                	    </div>
                	</div>
                	<div class="row">
                		<div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_estado">Estado solicitud</label>
                	        	<select id="sl_estado" name="sl_estado" class="form-control">
                	        	    <option value="0">Todos</option>
                	        	    <option value="1">Pendiente</option>
                	        	    <option value="2">Aceptada</option>
                	        	    <option value="3">Rechazada</option>
                	        	</select>
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_estado_prestamo">Estado prestamo</label>
                	        	<select id="sl_estado_prestamo" name="sl_estado_prestamo" class="form-control">
                	        	    <option value="0">Todos</option>
                	        	    <option value="1">Activo</option>
                	        	    <option value="2">Mora</option>
                	        	    <option value="3">Finalizado</option>
                	        	    <option value="4">Finalizado con mora</option>
                	        	</select>
                	        </div>
                	    </div>
                	    <div class="col-md-5">
                		    <div class="form-group">
                		    	<label for="sl_nombre_producto">Producto</label>
                		    	<select id="sl_nombre_producto" name="sl_nombre_producto" class="form-control">
    	        	        	    <% if (locals.valor_sl_producto.seleccionado == "0") { %>
    	        	    				<option value="0" selected>Todos</option>
    	        	    			<% } else { %>
    	        	    				<option value="0">Todos</option>
    	        	    			<% } %>
    	        					<% for (var i in locals.lista_productos) { %>
    	        						<% if (locals.valor_sl_producto.seleccionado == locals.lista_productos[i].id_producto) { %>
    	        	    					<option value=<%= locals.lista_productos[i].id_producto %> selected><%- locals.lista_productos[i].nombre_producto %></option>
    	        	    				<% } else { %>
    	        	    					<option value=<%= locals.lista_productos[i].id_producto %>><%- locals.lista_productos[i].nombre_producto %></option>
    	        	    				<% } %>
    								<% } %>	
    	        	        	</select>
                		    </div>
                		</div>
                	    <div class="col-md-3">
                	        <div class="form-group">
                	        	<label for="sl_grupo">Grupo</label>
                	        	<select id="sl_grupo" name="sl_grupo" class="form-control">
    	        	        	    <% if (locals.valor_sl_grupo.seleccionado == "0") { %>
    	        	    				<option value="0" selected>Todos</option>
    	        	    			<% } else { %>
    	        	    				<option value="0">Todos</option>
    	        	    			<% } %>
    	        					<% for (var i in locals.lista_grupos) { %>
    	        						<% if (locals.valor_sl_grupo.seleccionado == locals.lista_grupos[i].id_grupo) { %>
    	        	    					<option value=<%= locals.lista_grupos[i].id_grupo %> selected><%- locals.lista_grupos[i].nombre_grupo %></option>
    	        	    				<% } else { %>
    	        	    					<option value=<%= locals.lista_grupos[i].id_grupo %>><%- locals.lista_grupos[i].nombre_grupo %></option>
    	        	    				<% } %>
    								<% } %>	
    	        	        	</select>
                	        </div>
                	    </div>
                	</div>
                	<div class="row">
                		<div class="col-md-5">
                	        <div class="form-group">
                	        	<label for="sl_nombre_cliente">Nombre(s) cliente</label> 
                	        	<input id="sl_nombre_cliente" name="sl_nombre_cliente" type="text" class="form-control">
                	        </div>
                	    </div>
                	    <div class="col-md-5">
                	        <div class="form-group">
                	        	<label for="sl_apellido_clienteo">Apellido(s) cliente</label> 
                	        	<input id="sl_apellido_cliente" name="sl_apellido_cliente" type="text" class="form-control">
                	        </div>
                	    </div>
                	    <div class="col-md-2">
                	        <div class="form-group">
                	        	<label for="sl_cedula_cliente">N° cedula cliente</label> 
                	        	<input id="sl_cedula_cliente" name="sl_cedula_cliente" type="text" class="form-control">
                	        </div>
                	    </div>
                	</div>
                	<div class="row">
                	    <div class="col-md-12 text-right">
                	        <div class="form-group">
                	        	<button class="btn btn-primary">Buscar solicitudes</button>
                	        </div>
                	    </div>
                	</div>
                	<hr>
            	</form>
            </div>    
    	</div>
    </form>
   
	<!-- Listado resultados -->
   
    <div class="row">
       <div class="col-md-12">
            <h2>Resultados busqueda</h2>
       </div>
	</div>
   
    <!-- Resultados busqueda clientes -->
	
	<table id="lista_solicitudes" class="table table-condensed table-hover table-striped">
    	<thead>
    	    <tr>
	        	<th data-column-id="sl_id" data-order="desc" data-visible="false" data-visible-in-selection="false" data-type="numeric" data-identifier="true">Id</th>
	        	<th data-column-id="cl_nombre_completo">Cliente</th>
	        	<th data-column-id="cl_grupo">Grupo</th>
    	        <th data-column-id="sl_cantidad_solicitada">Cantidad RD$</th>
    	        <th data-column-id="sl_fecha_creacion" data-type="date">Fecha creación</th>
    	        <th data-column-id="sl_estado">Estado</th>
    	        <th data-column-id="pr_estado">Estado prestamo</th>
    	        <th data-column-id="sl_comandos" data-sortable="false" data-align="center" data-header-align="center" data-formatter="cl_comandos">Comandos</th>
    	    </tr>
    	</thead>
    	<tbody>
    		<% for (q in locals.lista_solicitudes) { %>
    		<tr>
        		<td><%= locals.lista_solicitudes[q].sl_id %></td>
        		<td><%= locals.lista_solicitudes[q].cl_nombre_completo %></td>
        		<td><%= locals.lista_solicitudes[q].cl_grupo %></td>
            	<td><%= locals.lista_solicitudes[q].sl_cantidad_solicitada %></td>
            	<td><%= locals.lista_solicitudes[q].sl_fecha_creacion %></td>
            	<td><%= locals.lista_solicitudes[q].sl_estado %></td>
            	<td><%= locals.lista_solicitudes[q].pr_estado %></td>
			</tr>
    		<% } %>
		</tbody>
	</table>

</div>

<!-- Fin contenido pagina -->
    
<% include ../../_commons/views/footer.html %>